@layout('layouts/forum')

@section('content')
@set('posts', posts.toJSON())
<div class="p-2 py-4">
        @if(posts.data.length)
        @each(post in posts.data)
        @include('forum.partials._post')
        @endeach
        @else
        <p>There are no posts</p>
        @endif

    @if(posts.data.length)
    <div class="section">
        @!component('forum.partials._pagination', pagination = posts)
    </div>
    @endif
</div>
@endsection
