<aside>
    <a class="btn btn-action w-100 mb-4 p-2 text-white" href="{{ route('posts.create') }}">New Post</a>
    <span class="font-weight-bold">Topics</span>
    <ul class="list-group">
        @each(tag in tags.toJSON())
        <li class="list-group-item {{ request.match(['/forum/tag/' + tag.slug]) ? ' active' : '' }}">
            <a href="{{ route('posts.tags', { slug: tag.slug }) }}">{{ tag.name }}</a>
        </li>
        @endeach
    </ul>
</aside>
