<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AuthorBoost Forum</title>
    {{ style('app') }}
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        @include('layouts.partials._navigation')
        @include('forum.partials._navigation')
    </header>

    <main class="flex-grow-1 d-flex flex-column py-4">
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col col-12 col-md-4">
                        @include('forum.partials._sidebar')
                    </div>
                    <div class="col bg-white">
                        @!section('content')
                    </div>
                </div>
            </div>
        </section>
    </main>

    @include('layouts.partials._footer-main')
</body>

</html>
